<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Story 6 | Aditya</title>
</head>
<body>
    <div class="containter">
        <div class="row" style="margin: 10px;">
            <div class="col">
                <h2>Yuk, Tulis Statusmu Disini</h2>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <h3>Ceritamu Terkini</h3>
        </div>
        <div class="row" style="margin: 10px;">
            {% for i in Status %}
            <div class="col-sm text-center">
                <h4 id="status">{{ i.status }}</h4>
                <p id="status">{{ i.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>